<div class = "row">
  <h2>Creating a New Question:</h2>
</div>
    <%= form_tag :action => "create" do %>
      <li>
        <p><%= "Question:" %>
        <%= text_field_tag :content, params[:content]%> </p>
        <p><%= "Answer:" %>
        <label><%= radio_button_tag("answer", "2", false, class: 'radio_input') %>Yes</label>
        <label><%= radio_button_tag("answer", "-2", false, class: 'radio_input') %>No</label>
        <label><%= button_tag "Clear", :type => 'reset', :class => "btn btn-primary btn-c-layout clear_button"%></label>
        </p>
        
        <div class = "row">
          <div class = "col-sm-6">
            <%= submit_tag 'Save', :class => "btn btn-success " %>
          </div>
          <div class = "col-sm-6">
            <%= link_to "Cancel Changes", addquestions_path,
              :class => "btn btn-block btn-warning "%>
          </div>  
        </div>
      </li>
    <% end %> 
    
    
    
    


