<h1> Manage Dataset </h1>

<div class="row">
<% @groups.each do |grp| %>
<div class = "col-sm-10">
    <strong><%= grp.name%></strong>
      <table class='table'>
        <thead>
          <tr>
            <th class = "col-md-3">Accession</th>
            <th class = "col-md-3">Name</th>
            <th class = "col-md-3">Q&A</th>
            <th class = "col-md-3">Delete</th>
          </tr>
        </thead>
        <tbody>
        <% if grp.data_set!=nil %>
          <% grp.data_set.each do |dis| %>  <!-- for every diseases(we have sorted the diseases by accession) -->
              
              <tr>         <!-- and start a new row -->
                <td><%= dis%></td>
                <td><%= Dataset.find_by_name("dataset").Data_set[dis] %></td>
                <td>
                  <div style="overflow-y:scroll;height:100px;">
                    <table class='table'>
                    <tbody>
                <% Disease.find_by_accession(dis).questions.each do |k,v| %>
                    <tr>
                      <td width="300px"><%= k %></td>
                      <%if v>0 %>
                      <td width="200px">Yes</td>
                      <%elsif v<0 %>
                      <td width="300px">No</td>
                      <%else%>
                      <td width="300px">No standard answer</td>
                      <%end%>
                    </tr>
                 <%end %> 
                  </tbody>  <!-- end the sub row(the last time we get out the the loop, we should end the current row)-->
                </table>  <!-- end the sub row-->
                </div>  <!-- end the sub row-->
              </td>  <!-- end the column-->
              <td><%= link_to 'Delete', {:controller => "addquestions", :action => "delete_in_show", :key => dis} ,:onclick => "return confirm('Are you sure you want to delete this dataset?')" %></td>
            </tr>  <!-- end the row-->
          <% end %>
         <% else %>
             <tr>
               <td> <%= "No dataset for this group" %></td>
             </tr>
         <% end %>
        </tbody>
      </table>
    </div>
    <%end%>
</div>


<div class = "row">
  <div class = "col-sm-12">
    <p><%= button_to "Back", '/profile', class: "btn btn-warning center-block"%></p>
  </div>
</div>
