<div class = "row">
  <div class = "col-sm-1"> </div>
  <div class = "col-sm-4">
    <div class = "row">
      <ul class="list-group">
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>search information</strong></span>
          <p>
           <%= form_tag :action => 'search'  do %>
           <%= text_field_tag :search, params[:search], placeholder: "Search dataset" %>
           <%= submit_tag "search", :name => nil %>
          <% end %>
          </p>
      </ul>
    </div>
  </div>
</div>

<div class = "row">
      <div class = "col-sm-0"> </div>
      <div class = "col-sm-8">
        <strong>Dataset Selection</strong>
         <div class = "row">
           <div class = "col-sm-12">
             <div class="table-responsive">
               <table class = "table">
                 <thead>
            <tr>
              <th class = "col-md-3">Accession</th>
              <th class = "col-md-3">Name</th>
            </tr>
          </thead>
            </tr>
          </thead>
        </table>
      </div>
  </div>
</div>
      </div>
</div>

<div style="border:1px solid black; width:700px;height:200px; overflow-y:auto;">
    <div>
        <div style="border:1px solid white; width:700px; height:200px; float:left;">
         <div class = "row">
  <div class = "col-sm-10">
      <div class="table-responsive">
        <table class = "table">
          <tbody>

<% if @dataset %>            
<% @dataset.each do |k,v| %>            
<tr>
  <td><input type="checkbox" checked="checked" id=k name=k></td>
  <td> <%= k %> </td>
  <td> <%= v %> </td>
</tr>
<%end %> 
<% end %>

          </tbody>
        </table>
      </div>
  </div>
</div>
        </div>
      <div style="clear:both"></div>
    </div>
</div>





<div class = "row">
      <div class = "col-sm-0"> </div>
      <div class = "col-sm-2">
        <%= button_to "Confirm", action="confirm_search"  %>
      </div>
</div>

<br />

<div class = "row">
      <div class = "col-sm-0"> </div>
      <div class = "col-sm-2">
        <strong>Question</strong>
      </div>
</div>

<div style="border:1px solid black; width:1000px; height:200px; overflow-y:auto;">
    <div>
        <div style="border:1px solid black; width:1000px; height:200px; float:left;">
          <input type="text" />
          <div id="org"></div>
          <input type="button" onclick="add1();" value=" Add" width=50px; height=20px;/>
          <script type="text/javascript">
          function add1(){
            var input1 = document.createElement('input');
            input1.setAttribute('type', 'text');
            input1.setAttribute('name', 'organizers[]');
            input1.setAttribute('class', 'git');
            var btn1 = document.getElementById("org");
            btn1.insertBefore(input1,null);}
          </script>
        </div>
    </div>
</div>

<div class = "row">
      <div class = "col-sm-0"> </div>
      <div class = "col-sm-2">
        <button id="submitBtn" class="btn btn-primary">Confirm</button>
      </div>
</div>

<br />

<div class = "row">
      <div class = "col-sm-0"> </div>
      <div class = "col-sm-8">
        <strong>User Selection</strong>
         <div class = "row">
           <div class = "col-sm-12">
             <div class="table-responsive">
               <table class = "table">
                 <thead>
            <tr>
              <th class = "col-md-1">ID</th>
              <th class = "col-md-3">Email</th>
              <th class = "col-md-3">Name</th>
            </tr>
          </thead>
            </tr>
          </thead>
        </table>
      </div>
  </div>
</div>
      </div>
</div>

<div style="border:1px solid black; width:1000px;height:200px; overflow-y:auto;">
    <div>
        <div style="border:1px solid white; width:1000px; height:200px; float:left;">
         <div class = "row">
  <div class = "col-sm-10">
      <div class="table-responsive">
        <table class = "table">
          <tbody>
<tr>
  <td><input type="checkbox"></td>
  <td>1</td>
  <td>666@gmail.com</td>
  <td>666</td>
  
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>2</td>
  <td>mashuo0@gmail.com</td>
  <td>mashuo0</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>3</td>
  <td>mashuo1@gmail.com</td>
  <td>mashuo1</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>4</td>
  <td>mashuo2@gmail.com</td>
  <td>mashuo2</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>5</td>
  <td>mashuo3@gmail.com</td>
  <td>mashuo3</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>6</td>
  <td>mashuo4@gmail.com</td>
  <td>mashuo4</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>7</td>
  <td>mashuo5@gmail.com</td>
  <td>mashuo5</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>8</td>
  <td>mashuo6@gmail.com</td>
  <td>mashuo6</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>9</td>
  <td>mashuo7@gmail.com</td>
  <td>mashuo7</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>10</td>
  <td>mashuo8@gmail.com</td>
  <td>mashuo8</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>11</td>
  <td>mashuo9@gmail.com</td>
  <td>mashuo9</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>12</td>
  <td>mashuo10@gmail.com</td>
  <td>mashuo10</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>13</td>
  <td>mashuo11@gmail.com</td>
  <td>mashuo11</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>14</td>
  <td>mashuo12@gmail.com</td>
  <td>mashuo12</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>15</td>
  <td>mashuo13@gmail.com</td>
  <td>mashuo13</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>16</td>
  <td>mashuo14@gmail.com</td>
  <td>mashuo14</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>17</td>
  <td>mashuo15@gmail.com</td>
  <td>mashuo15</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>18</td>
  <td>mashuo16@gmail.com</td>
  <td>mashuo16</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>19</td>
  <td>mashuo17@gmail.com</td>
  <td>mashuo17</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>20</td>
  <td>mashuo18@gmail.com</td>
  <td>mashuo18</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>21</td>
  <td>mashuo19@gmail.com</td>
  <td>mashuo19</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>22</td>
  <td>mashuo20@gmail.com</td>
  <td>mashuo20</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>23</td>
  <td>mashuo21@gmail.com</td>
  <td>mashuo21</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>24</td>
  <td>mashuo22@gmail.com</td>
  <td>mashuo22</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>25</td>
  <td>mashuo23@gmail.com</td>
  <td>mashuo23</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>26</td>
  <td>mashuo24@gmail.com</td>
  <td>mashuo24</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>27</td>
  <td>mashuo25@gmail.com</td>
  <td>mashuo25</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>28</td>
  <td>mashuo26@gmail.com</td>
  <td>mashuo26</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>29</td>
  <td>mashuo27@gmail.com</td>
  <td>mashuo27</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>30</td>
  <td>mashuo28@gmail.com</td>
  <td>mashuo28</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>31</td>
  <td>mashuo29@gmail.com</td>
  <td>mashuo29</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>32</td>
  <td>mashuo30@gmail.com</td>
  <td>mashuo30</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>33</td>
  <td>mashuo31@gmail.com</td>
  <td>mashuo31</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>34</td>
  <td>mashuo32@gmail.com</td>
  <td>mashuo32</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>35</td>
  <td>mashuo33@gmail.com</td>
  <td>mashuo33</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>36</td>
  <td>mashuo34@gmail.com</td>
  <td>mashuo34</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>37</td>
  <td>mashuo35@gmail.com</td>
  <td>mashuo35</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>38</td>
  <td>mashuo36@gmail.com</td>
  <td>mashuo36</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>39</td>
  <td>mashuo37@gmail.com</td>
  <td>mashuo37</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>40</td>
  <td>mashuo38@gmail.com</td>
  <td>mashuo38</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>41</td>
  <td>mashuo39@gmail.com</td>
  <td>mashuo39</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>42</td>
  <td>mashuo40@gmail.com</td>
  <td>mashuo40</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>43</td>
  <td>mashuo41@gmail.com</td>
  <td>mashuo41</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>44</td>
  <td>mashuo42@gmail.com</td>
  <td>mashuo42</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>45</td>
  <td>mashuo43@gmail.com</td>
  <td>mashuo43</td>
</tr>
 <td><input type="checkbox"></td>
 <td>46</td>
  <td>mashuo44@gmail.com</td>
  <td>mashuo44</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>47</td>
  <td>mashuo45@gmail.com</td>
  <td>mashuo45</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>48</td>
  <td>mashuo46@gmail.com</td>
  <td>mashuo46</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>49</td>
  <td>mashuo47@gmail.com</td>
  <td>mashuo47</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>50</td>
  <td>mashuo48@gmail.com</td>
  <td>mashuo48</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>51</td>
  <td>mashuo49@gmail.com</td>
  <td>mashuo49</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>52</td>
  <td>mashuo50@gmail.com</td>
  <td>mashuo50</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>53</td>
  <td>mashuo51@gmail.com</td>
  <td>mashuo51</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>54</td>
  <td>mashuo52@gmail.com</td>
  <td>mashuo52</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>55</td>
  <td>mashuo53@gmail.com</td>
  <td>mashuo53</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>56</td>
  <td>mashuo54@gmail.com</td>
  <td>mashuo54</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>57</td>
  <td>mashuo55@gmail.com</td>
  <td>mashuo55</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>58</td>
  <td>mashuo56@gmail.com</td>
  <td>mashuo56</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>59</td>
  <td>mashuo57@gmail.com</td>
  <td>mashuo57</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>60</td>
  <td>mashuo58@gmail.com</td>
  <td>mashuo58</td>
</tr>
  <td><input type="checkbox"></td>
  <td>61</td>
  <td>mashuo59@gmail.com</td>
  <td>mashuo59</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>62</td>
  <td>mashuo60@gmail.com</td>
  <td>mashuo60</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>63</td>
  <td>mashuo61@gmail.com</td>
  <td>mashuo61</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>64</td>
  <td>mashuo62@gmail.com</td>
  <td>mashuo62</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>65</td>
  <td>mashuo63@gmail.com</td>
  <td>mashuo63</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>66</td>
  <td>mashuo64@gmail.com</td>
  <td>mashuo64</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>67</td>
  <td>mashuo65@gmail.com</td>
  <td>mashuo65</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>68</td>
  <td>mashuo66@gmail.com</td>
  <td>mashuo66</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>69</td>
  <td>mashuo67@gmail.com</td>
  <td>mashuo67</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>70</td>
  <td>mashuo68@gmail.com</td>
  <td>mashuo68</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>71</td>
  <td>mashuo69@gmail.com</td>
  <td>mashuo69</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>72</td>
  <td>mashuo70@gmail.com</td>
  <td>mashuo70</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>73</td>
  <td>mashuo71@gmail.com</td>
  <td>mashuo71</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>74</td>
  <td>mashuo72@gmail.com</td>
  <td>mashuo72</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>75</td>
  <td>mashuo73@gmail.com</td>
  <td>mashuo73</td>
</tr>
  <td><input type="checkbox"></td> 
  <td>76</td>
  <td>mashuo74@gmail.com</td>
  <td>mashuo74</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>77</td>
  <td>mashuo75@gmail.com</td>
  <td>mashuo75</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>78</td>
  <td>mashuo76@gmail.com</td>
  <td>mashuo76</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>79</td>
  <td>mashuo77@gmail.com</td>
  <td>mashuo77</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>80</td>
  <td>mashuo78@gmail.com</td>
  <td>mashuo78</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>81</td>
  <td>mashuo79@gmail.com</td>
  <td>mashuo79</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>82</td>
  <td>mashuo80@gmail.com</td>
  <td>mashuo80</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>83</td>
  <td>mashuo81@gmail.com</td>
  <td>mashuo81</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>84</td>
  <td>mashuo82@gmail.com</td>
  <td>mashuo82</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>85</td>
  <td>mashuo83@gmail.com</td>
  <td>mashuo83</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>86</td>
  <td>mashuo84@gmail.com</td>
  <td>mashuo84</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>87</td>
  <td>mashuo85@gmail.com</td>
  <td>mashuo85</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>88</td>
  <td>mashuo86@gmail.com</td>
  <td>mashuo86</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>89</td>
  <td>mashuo87@gmail.com</td>
  <td>mashuo87</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>90</td>
  <td>mashuo88@gmail.com</td>
  <td>mashuo88</td>
</tr>
  <td><input type="checkbox"></td>
  <td>91</td>
  <td>mashuo89@gmail.com</td>
  <td>mashuo89</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>92</td>
  <td>mashuo90@gmail.com</td>
  <td>mashuo90</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>93</td>
  <td>mashuo91@gmail.com</td>
  <td>mashuo91</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>94</td>
  <td>mashuo92@gmail.com</td>
  <td>mashuo92</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>95</td>
  <td>mashuo93@gmail.com</td>
  <td>mashuo93</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>96</td>
  <td>mashuo94@gmail.com</td>
  <td>mashuo94</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>97</td>
  <td>mashuo95@gmail.com</td>
  <td>mashuo95</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>98</td>
  <td>mashuo96@gmail.com</td>
  <td>mashuo96</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>99</td>
  <td>mashuo97@gmail.com</td>
  <td>mashuo97</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>100</td>
  <td>mashuo98@gmail.com</td>
  <td>mashuo98</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>101</td>
  <td>mashuo99@gmail.com</td>
  <td>mashuo99</td>
</tr>
<tr>
  <td><input type="checkbox"></td>
  <td>102</td>
  <td>mashuo100@gmail.com</td>
  <td>mashuo100</td>
</tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
        </div>
      <div style="clear:both"></div>
    </div>
</div>

<div class = "row">
      <div class = "col-sm-0"> </div>
      <div class = "col-sm-2">
        <button id="submitBtn" class="btn btn-primary">Submit</button>
      </div>
</div>
