<div class = "row">
  <h1>Admin</h1>
</div>
<div class = "row">
  <div class = "col-sm-6">
    <section class="user_info">
      <h2>Group Operations</h2>
      <% if current_user.admin? %>
        <br>
        <%= link_to "Show Groups",groups_path, class: "btn btn-primary center-block" %>
        <% if !(current_user.group_admin?) %>
          <br>
          <%= link_to "Promote/Demote Group Admin", '/admin/promote', class: "btn btn-danger center-block" %>
          <%= link_to "Choose Group Admin from Group", '/admin/promotewithgroup', class: "btn btn-info center-block" %>
          <%= link_to "Manage Group Admins' Groups",'/admin/manage_group_admins_groups', class: "btn btn-info center-block" %>
        <% end %>
      <% end %>
    </section>

    <hr>
  </div>
  
  <div class = "col-sm-6">
    <p><%= link_to "Manage Dataset",'addquestion/show' %></p>
    <hr>
  </div>
  
</div>

<div class = "row">

  <div class = "col-sm-2">
    <%= link_to "Configuration", '/config'%>
  </div>
  
  <div class = "col-sm-8"></div>

  <div class = "col-sm-2">
    <div class = row>
      <%= form_tag admins_show_path(), :method => :post, :id => "query_form" do%>
      <%= search_field_tag 'search', nil, :class => 'special_input', :placeholder => 'Query...', :id => 'query' %>
      <% end %>
    </div>
  </div>

</div>


<div class = "row">
  <div class = "col-sm-12">
      <div class="table-responsive">
        <table id="dvData" class = "table">
          <thead>
            <tr>
              <th class = "col-md-1"><%= link_to "ID", admins_show_path(:sort => "id") %></th>
              <th class = "col-md-3">Name</th>
              <th class = "col-md-3">Accession</th>
              <th class = "col-md-3"><%= link_to "Submission#", admins_show_path(:sort => "submission") %></th>
              <th class = "col-md-1">Statistics</th>
            </tr>
          </thead>
          <tbody>
            <% @diseases.each do |dis| %> 
              <tr>  
                <td><%= dis.id %>
                <td><%= dis.disease %>
                <td><%= link_to dis.accession, "http://www.ebi.ac.uk/arrayexpress/experiments/#{dis.accession}/?query=#{dis.disease}", :target => '_blank' %></td>
                <td><%= @subcount[dis.accession] %>
                <td><%= link_to 'Dataset Statistic', {:controller => 'admins', :action => 'histogram', :accession => dis.accession, :questions => dis.questions} %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>



<div class = "row">
  <div class = "col-sm-9">

  </div>
  <div class = "col-sm-1">
      <%= link_to "Download", "/admin/getcsv", :class => "btn btn-primary button_wid" %>
  </div>
  <div class = "col-sm-1">
      <%= link_to "Users", "/admin/allusers", :class => "btn btn-primary button_wid" %>
  </div>
  <div class = "col-sm-1">
      <%= link_to "Show All", "/admin", :class => "btn btn-primary button_wid" %>
  </div>
</div>

