<div class = "row">
  <h1>Admin</h1>
</div>
<div class = "row">
  <div class = "col-sm-4 text-center">
    <section class="group_manage">
      <h2>Group Operations</h2>
      <% if current_user.admin? %>
        <br>
        <%= link_to "Show Groups",groups_path, class: "btn btn-primary" %>
        <% if !(current_user.group_admin?) %>
          <hr>
          <%= link_to "Promote/Demote Group Admin", '/admin/promote', class: "btn btn-danger  center-block" %>
          <%= link_to "Choose Group Admin from Group", '/admin/promotewithgroup', class: "btn btn-info  center-block" %>
          <%= link_to "Manage Group Admins' Groups",'/admin/manage_group_admins_groups', class: "btn btn-success  center-block" %>
        <% end %>
      <% end %>
    </section>

    <hr>
  </div>
  
  <div class = "col-sm-4 text-center">
    <section class="dataset_manage">
      <h2>Dataset Operations</h2>
      <% if current_user.admin? %>
        <br>
        <%= link_to "Manage Dataset",'addquestion/show', class: "btn btn-primary" %>
      <% end %>
    </section>    
    <hr>
  </div>

  <div class = "col-sm-4 text-center">
    <section class="group_manage">
      <h2>Result Format Config</h2>
      <br>
      <%= link_to "Configuration", '/config', class: "btn btn-primary" %>
    </section>  
    <hr>
  </div>


  
</div>



<div class = "row">
  <div class = "col-sm-2">
  </div>
  
  <div class = "col-sm-8"></div>

  <div class = "col-sm-2">
    <div class = row>
      <h3 style="text-align:left;">Search By ... </h3>
      <%= form_tag admins_show_path(), :method => :post, :id => "query_form" do%>
      <%= search_field_tag 'search', nil, :class => 'special_input', :placeholder => 'Query...', :id => 'query' %>
      <% end %>
    </div>
  </div>

</div>


<div class = "row">
  <div class = "col-sm-12">
      <div class="table-responsive">
        <table id="dvData" class = "table-bordered">
          <thead>
            <tr>
              <th class = "col-md-3">Name</th>
              <th class = "col-md-3">Accession</th>
              <th class = "col-md-3"><%= link_to "Submission#", admins_show_path(:sort => "submission") %></th>
              <th class = "col-md-1">Statistics</th>
            </tr>
          </thead>
          <tbody>
            <% @data.each do |ds,q| %> 
              <tr>  
                <td><%= ds[0] %>
                <td><%= link_to ds[1], "http://www.ebi.ac.uk/arrayexpress/experiments/#{ds[1]}/?query=#{ds[0]}", :target => '_blank' %></td>
                <td><%= @count[ds[1]] %>
                <td><%= link_to 'Dataset Statistic', {:controller => 'admins', :action => 'dsstatistics', :qdata => q} %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>



<div class = "row">
  <div class = "col-sm-9">

  </div>
  <div class = "col-sm-1">
      <%= link_to "Download", "/admin/getcsv", :class => "btn btn-primary button_wid" %>
  </div>
  <div class = "col-sm-1">
      <%= link_to "Users", "/admin/allusers", :class => "btn btn-primary button_wid" %>
  </div>
  <div class = "col-sm-1">
      <%= link_to "Show All", "/admin", :class => "btn btn-primary button_wid" %>
  </div>
</div>

