<tr>
    <td class="text-center"><%= fullquestion.id %></td>
    <td class="text-center"><%= fullquestion.qcontent %></td>
    <td class="text-center"><%= Fullquestion.convert_ans(fullquestion.qanswer) %></td>
    <td class="text-center"><%= fullquestion.ds_accession %></td>
    <td class="text-center"><%= fullquestion.ds_name %></td>
    <td class="text-center"><%= fullquestion.closed %></td>
    <td class="text-center"><%= fullquestion.yes_users %></td>
    <td class="text-center"><%= fullquestion.no_users %></td>
    <td class="text-center"><%= fullquestion.users.count %></td>
</tr>