<li id="submission-<%= submission.id %>">
  <!-- <span class="user"><%= link_to submission.user.name, submission.user %></span> -->


  <div class = "row">
    <div class = "col-sm-2">
      <div class = "col-sm-4">
        <% if 1 %>
          <div class="colorbox green"></div>
        <% else %>
          <div class="colorbox red"></div>
        <% end %>
      </div>
      <div class = "col-sm-8"><%= (1)? "Related" : "Unrelated" %></div>
    </div>
    <div class = "col-sm-7">
      <div class = "col-sm-5"><%= "disease"%></div>
      <div class = "col-sm-3"><%= 'accession'%></div>
      <div class = "col-sm-4"><%= "reason"%></div>
    </div>
    <div class = "col-sm-3">
      <div class="timestamp">
        Submitted <%= time_ago_in_words(submission.created_at) %> ago.
      </div>
    </div>
  </div>
</li>
