<div class = "row">
  <h2>Groups</h2>
</div>
<div>
  <% if !@all_groups.nil? %>
    <% @all_groups.each do |grp| %>
      <%= render grp %>
      <p>GroupAdmin: 
      <% grp.get_admins.each do |grpadmin_name| %>
        <%= grpadmin_name %>
      <% end %>    
      <br>Group Users:</p>
      
      <% if !grp.get_users.nil? %>
        <div class = "row">
          <div class = "col-sm-12">
            <div class="table-responsive">
              <table class = "table-bordered">
                <thead>
                  <tr>
                    <th class = "col-md-1">ID</th>
                    <th class = "col-md-4">Email</th>
                    <th class = "col-md-3">Name</th>
                    <th class = "col-md-1">Submission#</th>
                    <th class = "col-md-1">Closed Submission</th>
                    <th class = "col-md-1">Correct#</th>
                    <th class = "col-md-1">Accuracy#</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render grp.get_users %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
      <p></p>
      <div class="row">
        <div class = "col-sm-2">
        </div>
        <div class = "col-sm-2">
          <%= link_to quick_group_add_path(grp),
          :class => "btn btn-primary btn-block" do %>
          <i class="glyphicon glyphicon-plus"></i> Quick Manage Users
          <% end %>
        </div>        
        <div class = "col-sm-2">
          <%= link_to group_add_path(grp),
          :class => "btn btn-primary btn-block" do %>
          <i class="glyphicon glyphicon-plus"></i> Manage Users
          <% end %>
        </div>
        <div class = "col-sm-2">
          <%= link_to edit_group_path(grp),
          :class => "btn btn-primary btn-block" do %>
          <i class="glyphicon glyphicon-pencil"></i> Edit Group
          <% end %>
        </div>
        <div class = "col-sm-2">
          <% if current_user.group_admin == true %>
            <%= link_to group_path(grp),disabled: true,
            method: :delete, data: { confirm: "Are you sure?" },
            :class => "btn btn-primary btn-block" do %>
            <i class="glyphicon glyphicon-trash"></i> Delete Group
            <% end %>          
          <% else %>
            <%= link_to group_path(grp),
            method: :delete, data: { confirm: "Are you sure?" },
            :class => "btn btn-primary btn-block" do %>
            <i class="glyphicon glyphicon-trash"></i> Delete Group
            <% end %>
          <% end %>
        </div>
        <div  class = "col-sm-2">
          <%= link_to admin_all_path,
          :class => "btn btn-primary btn-block" do %>
          <i class="glyphicon glyphicon-stats"></i> Statistics
          <% end %>
        </div>
      </div>
      
      
      
      <hr>
      
      
    <% end %>    
  <% else %>
    <h3>There's no groups yet!</h3>
    <h3>Click <%= link_to "Here", '/group_create_path'%> to create a group</h3>
  <% end %>
</div>



<div class = "row">
  <div class = "col-sm-12">
    <p><%= link_to "Create a new Group...", new_group_path%></p>  
    <p><%= link_to "Back...", '/admin'%></p>
  </div>
</div>