<tr>
  <td><%= user.id %></td>
  <td><%= user.email %></td>
  <td><%= user.name %></td>
  <td><%= user.submissions.count %></td>
  <td><%= user.num_correct %></td>
  <td><%= user.accuracy.round(3) %></td>
</tr>
