<% provide(:title, 'Main Page') %>

<h1> Questions </h1>
<div class="row">
  <%= form_tag diseases_import_path(:dis => @diseases), :method => :post, :id => "questions" do%>
      <table class='table'>
        <thead>
          <tr>
            <th class = "col-md-3">DataSet</th>
            <th class = "col-md-9">Question</th>
          </tr>
        </thead>
        <tbody>
          
        <% @diseases.each do |dis| %> 
              <tr>        
                <td><%= link_to dis.accession, "http://www.ebi.ac.uk/arrayexpress/experiments/#{dis.accession}/?query=#{dis.disease}", :target => '_blank' %></td>
                <td>
                  <div style="overflow-y:scroll;height:100px;">
                    <table class='table'>
                    <tbody>
                      
                    <% dis.questions.each do |q| %> 
                    <tr>
                      <td width="150px"><%= q[0] %></td>
                      <td width="100px">
                        <label><%= radio_button_tag("choose[#{[dis.id,q]}]", "1", false, class: 'radio_input') %>Yes</label>
                        <label><%= radio_button_tag("choose[#{[dis.id,q]}]", "0", false, class: 'radio_input') %>No</label>
                        <label><%= link_to "clear", "#", class: 'btn btn-default btn_clear', id: "#{[dis.id,q]}"%></label>
                      </td>
                    </tr>
                    <% end %>
          
                  </tbody>
                </table> 
                </div> 
              </td> 
            </tr> 
        <% end %>
        </tbody>
      </table>
    <%= link_to 'Submit', "#", :class => "btn btn-success button_wid", :id => "submit"%>
  <% end %>
</div>
