<% provide(:title, 'Main Page') %>

<h1> Questions </h1>
<div class="row">
  <%= form_tag diseases_import_path(), :method => :post, :id => "questions" do%>
      <table class='table'>
        <thead>
          <tr>
            <th class = "col-md-3">DataSet</th>
            <th class = "col-md-9">Question</th>
          </tr>
        </thead>
        <tbody>
          
        <% @questions.each do |ds,question| %>
              <tr >        
                <td><%= link_to ds[1], "http://www.ebi.ac.uk/arrayexpress/experiments/#{ds[1]}/?query=#{ds[0]}", :target => '_blank' %></td>
                <td>
                  <div style="overflow-y:scroll;height:200px;">
                    <table class='table'>
                    <tbody>
                      
                    <% question.each do |id,q| %> 
                      
                    <tr>
                      <td width="150px"><%= q %></td>

                      <td width="100px">
                        <label><%= radio_button_tag("choose[#{[id]}]", "1", false, class: 'radio_input') %>Yes</label>
                        <label><%= radio_button_tag("choose[#{[id]}]", "2", false, class: 'radio_input') %>No</label>

                        <label><%= button_tag "Clear", :type => 'reset', :class => "btn btn-primary btn-c-layout clear_button"%></label>

                      </td>
                      <td width="200px">Reason<%= text_field_tag "reason[#{[id]}]" %></td>

                    </tr>
                    <% end %>
                  </tbody>
                </table> 
                </div> 
              </td> 
            </tr> 
        <% end %>
        </tbody>
      </table>
    <%= link_to 'Submit', "#", :class => "btn btn-success button_wid", :id => "submit"%>
  <% end %>
</div>
