<% provide(:title, 'Main Page') %>

<h1> Questions </h1>
<div class="row">
  <%= form_tag diseases_import_path(:dis => @diseases_this_page), :method => :post, :id => "questions" do%>
      <table class='table'>
        <thead>
          <tr>
            <th class = "col-md-3">DataSet</th>
            <th class = "col-md-9">Question</th>
          </tr>
        </thead>
        <tbody>
          
        <% @diseases.each do |dis| %> 
              <tr>        
                <td><%= link_to dis.accession, "http://www.ebi.ac.uk/arrayexpress/experiments/#{dis.accession}/?query=#{dis.disease}", :target => '_blank' %></td>
                <td>
                  <div style="overflow-y:scroll;height:100px;">
                    <table class='table'>
                    <tbody>
                      
                    <% dis.questions.each do |q| %> 
                    <tr>
                      <td width="150px"><%= q[0] %></td>
                      <td width="100px">
                        <label><%= radio_button_tag("choose[]", "1", false, class: 'radio_input') %>Yes</label>
                        <label><%= radio_button_tag("choose[]", "0", false, class: 'radio_input') %>No</label>
                        <label><%= link_to "clear", "#", class: 'btn btn-default btn_clear', id: ""%></label>
                      </td>
                    </tr>
                    <% end %>
          
                  </tbody>  <!-- end the sub row(the last time we get out the the loop, we should end the current row)-->
                </table>  <!-- end the sub row-->
                </div>  <!-- end the sub row-->
              </td>  <!-- end the column-->
            </tr>  <!-- end the row-->
        <% end %>
        </tbody>
      </table>
    <%= link_to 'Submit', "#", :class => "btn btn-success button_wid", :id => "submit"%>
  <% end %>
</div>
